
:root{
    --fondo: #f5f5dc;
    --texto: #a0522d;
    --titulo: #0e0d0d;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    color: var(--texto);
    background-color: var(--fondo);
}
