* {
    margin: 20px ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 234, 234);
}

h2::after {
    content: 📖;
    color: red;
    object-fit:contain;
}

.cita-autoria::first-letter {
 font-size: 2rem;
 color: rgb(83, 83, 87);
 font-weight: 600;
}
.cita-autoria::after {
    content: →;
    font-weight: bold;
}

.hero{
    display: block;
    align-self: center;
    margin-top: 5px;
   margin-right: 5px;
    background-color:  rgb(103, 26, 26);
    padding: 100px;
    color: white;
    align-items: center;

}

.hero p{
    margin-top: 20px;
    margin-left: 200px;
    font-size: smaller;
    margin-bottom: 50px;
}
.hero-texto{
    padding-left: 35px;
}
.hero h2 {
    font-size: 30px;
    margin-left: 200px;
    
}
.boton{
    align-content: center;
    margin-left: 25rem;
    padding: 20px;
    background-color: green;
    color: white;
    border-collapse: collapse;

} 
/*se trabajo con grid aqui*/
.rejilla-servicios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.tarjeta{
    background-color: rgb(180, 175, 167);
    
}
.tarjeta h3{
    font-size: 25px;
}

   


